
body {
    margin: 0;
}
section {
    overflow: hidden;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}
.para {
    font-size: 25px;
}
header {
    height: 40px;
    padding: 10px 5px;
    position: absolute;
    background-color: #80b3ff;
    top: 0;
    left: 0;
    right: 0;
    
}
.intro {
    padding: 20px;
    margin: 20px;
    font-size: 76px;
    float: center;
    clear: right;

}
#nav-body {
    float: right;
    margin: 0;
}
.nav-link {
    display: inline;
    list-style-type: none;
    margin: 5px 20px 5px 20px;
}
.link {
    color: #ffffff;
    text-decoration: none;
    line-height: 80px;
}
.logo {
    padding: 2px;
    height: 5%;
    width: 5%;
    float: left;
    clear: right;
}
#banner {
    background-image: url('../images/banner_new.jpg');
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: cover;
}
#banner-text {
    color: #00ffff;
    text-align: center;
    line-height: 600px;
    text-shadow: 2px -2px 2px #ffffff;
    font-size: 76px;
}
#info-textbox {
    padding: 30px;
    margin: 5px;
    font-size: 16px;
    color: #000000;
    width: 600px;
}
#info-img {
    height: 100%;
    padding: 30px;
    margin: 20px;
}
#info-line {
    font-size: 55px;
    
}
#info-btn {
    padding: 5px;
    background-color: #00ffff;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    border: 1px dashed #000000;
    border-radius: 20px 20px;
    margin: 10px;
}
#info-btn:hover {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #55acee;
}
.fa-instagram {
    color: #9b6954;
}
.social-media {
    text-decoration: none;
    padding: 5px;
}
